.inter_message {
  position: absolute;
  top: -600%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  z-index: 4;
  width: 400px;
  font-size: 30px;
  text-align: center;
  animation: blink 2s infinite; /* 깜박이게 하는 애니메이션 적용 */
}


@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}