@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn_box {
  position: fixed;
  margin: 0px;
  width: auto;
  height: auto;
  top: 38%;
}

.btn_box_cont {
  position: fixed;
  margin-left: 10px;
  padding-left: 20px;
}

.welcome {
  position: absolute;
  top: 0px;
  margin: 50px;
  right: 0px; /* 오른쪽에 딱 붙게 설정 */
  z-index: 1;
  font-family: "GangwonEduPowerExtraBoldA";
  width: 450px;
  background-color: rgba(255, 255, 255, 0.567);
  display: flex;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.welcome_text {
  padding-left: 8%;
  padding-top: 3%;
  margin: 10px 0 0 0;
  white-space: pre-wrap;
  white-space: pre-line;
}
.name {
  color: black;
  font-size: 45px;
}

.tier-image {
  background-color: rgba(125, 249, 158, 0.696);
}

html,
body {
  background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
  background-size: cover; /* 화면 크기에 맞게 이미지 확대/축소 */
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
  height: 100%; /* 전체 화면 크기를 채우기 위해 설정 */
  margin: 0; /* 기본 여백 제거 */
}