@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.font {
  font-family: "GangwonEduPowerExtraBoldA";
}

.btn_box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.623);
  margin: 0px;
  width: auto;
  height: auto;
  clip-path: polygon(
    60px 0%,
    100% 0%,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    0% 100%,
    0% 60px
  );
}

.welcome {
  position: absolute;
  top: 20px;
  right: 20px; /* 오른쪽에 딱 붙게 설정 */
  z-index: 1;
}
.welcome_text {
  font-size: 25px;
  margin: 20px;
  white-space: pre-wrap;
  white-space: pre-line;
}
.name {
  color: #33ff21;
}

@keyframes borderGlow {
  0% {
    border-color: #4a21ff;
  }
  25% {
    border-color: #ff21e1;
  }
  50% {
    border-color: #21ffa3;
  }
  75% {
    border-color: #ffdd21;
  }
  100% {
    border-color: #4a21ff;
  }
}
