@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn_box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.623);
  margin: 0px;
  width: auto;
  height: auto;
  clip-path: polygon(
    60px 0%,
    100% 0%,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    0% 100%,
    0% 60px
  );

  border: 4px solid; /* 테두리 두께와 스타일 설정 */
  border-color: #4a21ff; /* 초기 색상 */
  animation: borderGlow 5s infinite; /* 애니메이션 적용 */
}

.btn_box_cont {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.623);
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 15px;
  width: 300px;
  height: 600px;
  clip-path: polygon(
    60px 0%,
    100% 0%,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    0% 100%,
    0% 60px
  );
}

.welcome {
  position: absolute;
  top: 20px;
  right: 20px; /* 오른쪽에 딱 붙게 설정 */
  z-index: 1;
  font-family: "establishRetrosansOTF";
  width: 250px;
  padding-left: 35px;
}
.welcome_text {
  font-size: 25px;
  margin: 20px;
  white-space: pre-wrap;
  white-space: pre-line;
}
.name {
  color: #33ff21;
}

@keyframes borderGlow {
  0% {
    border-color: #4a21ff;
  }
  25% {
    border-color: #ff21e1;
  }
  50% {
    border-color: #21ffa3;
  }
  75% {
    border-color: #ffdd21;
  }
  100% {
    border-color: #4a21ff;
  }
}
