.room_btn_box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.623);
  margin-left: 10px;
  margin-right: 10px;
  width: 310px;
  height: 750px;
  padding-left: 10px;
  padding-top: 30px;
  clip-path: polygon(
    60px 0%,
    100% 0%,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    0% 100%,
    0% 60px
  );

  border: 4px solid; /* 테두리 두께와 스타일 설정 */
  border-color: #4a21ff; /* 초기 색상 */
  animation: borderGlow 5s infinite; /* 애니메이션 적용 */

  top: -100px;
}

.room_tx_box{
    margin-top: 50px;
}

.room_btn_1{
    margin-bottom: 50px;
}
*{
    font-size: 30px;
}