.room_btn_box {
  position: fixed;
  background-color: rgba(42, 34, 103, 0.756);
  margin-left: 20px;
  width: 320px;
  height: 650px;

  padding-top: 30px;
  border-radius: 20px;

  border: 5px solid rgb(0, 115, 255); /* 내부 테두리 */
  outline: 2px solid rgb(0, 115, 255); /* 외부 테두리 */
  outline-offset: -13px; /* 외부 테두리를 안쪽으로 이동 */

  box-shadow: 0 0 5px rgb(0, 115, 255), 0 0 10px rgb(0, 115, 255),
    0 0 5px rgb(0, 115, 255);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  padding-left: 4%;
}

.room_tx_box {
  font-style: italic;
  color: rgb(95, 223, 252);
}
.room_tx_box h3 {
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(255, 141, 20);
}

.room_btn_1 {
  margin-bottom: 50px;
}
* {
  font-size: 30px;
}
