@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-y: scroll; /* 세로 스크롤 가능 */

  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
}

.ranking-page {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.pyramid-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  overflow: visible; /* 넘치는 부분 보이게 */
  height: 500px; /* 고정 높이 */

  margin-top: 200px;
}

/* 1등, 2등, 3등, 4등, 5등을 피라미드 형식으로 배치 */
.pyramid-rank-1 {
  order: 2;
}
.pyramid-rank-2 {
  order: 1;
}
.pyramid-rank-3 {
  order: 3;
}
.pyramid-rank-4 {
  order: 0;
}
.pyramid-rank-5 {
  order: 4;
}

/* 각 단상의 높이 차이를 구현 */
.podium {
  width: 100%;
  height: 100px;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
}

.podium-1 {
  height: 500px; /* 1등 단상 높이 */
  background-color: #ffd700;
}
.podium-2 {
  height: 350px; /* 2등 단상 높이 */
  background-color: #c0c0c0;
}
.podium-3 {
  height: 250px; /* 3등 단상 높이 */
  background-color: #cd7f32;
}
.podium-4 {
  height: 150px; /* 4등 단상 높이 */
  background-color: #87cefa;
}
.podium-5 {
  height: 100px; /* 5등 단상 높이 */
  background-color: #98fb98;
}

/* 랭킹 카드 아래 단상을 기준으로 배치 */
.pyramid-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opt {
  text-align: center;
  font-family: "DungGeunMo";
  font-size: 20px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  color: #00ff00;

}

.ranking_subtitle {
  border: 4px solid; /* 테두리 두께와 스타일 설정 */
  border-color: #4a21ff; /* 초기 색상 */
  animation: borderGlow 5s infinite; /* 애니메이션 적용 */

  clip-path: polygon(
    60px 0%,
    100% 0%,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    0% 100%,
    0% 60px
  );
  padding: 20px;
  width: 800px;
  height: auto; /* 높이 자동 조정 */
  display: flex;
  flex-direction: column; /* 위아래 정렬 */
  gap: 20px; /* 라벨 사이 간격 */

  background-color: rgba(255, 255, 255, 0.396);

  position: relative; /* 필요 시 absolute로 변경 */
  top: -100px; /* 위로 이동 */
}


.ranking_subtitle label{
  font-size: 40px;
}

.rankin_title h2{
  font-size: 50px;
  position: relative; /* 필요 시 absolute로 변경 */
  top: -100px; /* 위로 이동 */
}

.rankin_main_btn_cnt{
  padding-top: 30px;
  padding-left: 30px;
}

.rankin_header {
  display: flex; /* 플렉스 레이아웃 활성화 */
  justify-content: space-between; /* 좌우 공간 분배 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 20px; /* 적절한 여백 */
  gap: 20px; /* 버튼과 타이틀 사이 간격 */
}