@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn_box {
  background-color: rgba(187, 187, 187, 0.716);
  /* 모서리 깎기 */
  clip-path: polygon(
    50px 0%,
    /* 상단 왼쪽 */ 100% 0%,
    /* 상단 오른쪽 */ 100% calc(100% - 50px),
    /* 하단 오른쪽 */ calc(100% - 50px) 100%,
    /* 하단 왼쪽 */ 0% 100%,
    /* 하단 왼쪽 */ 0% 50px /* 상단 왼쪽 */
  );
  padding: 20px;
  font-family: "GangwonEduPowerExtraBoldA";

  border: 4px solid; /* 테두리 두께와 스타일 설정 */
  border-color: #4a21ff; /* 초기 색상 */
  animation: borderGlow 5s infinite; /* 애니메이션 적용 */
}

.r_card-container {
  filter: drop-shadow(46px 36px 24px #4090b5)
    drop-shadow(-55px -40px 25px #9e30a9);
  animation: blinkShadowsFilter 8s ease-in infinite;
}

@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
      drop-shadow(-55px -40px 28px #9e30a9);
  }

  25% {
    filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-55px 40px 24px #9e30a9);
  }

  50% {
    filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
  }

  75% {
    filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
  }

  to {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
      drop-shadow(-55px -40px 28px #9e30a9);
  }
}

@keyframes borderGlow {
  0% {
    border-color: #4a21ff;
  }
  25% {
    border-color: #ff21e1;
  }
  50% {
    border-color: #21ffa3;
  }
  75% {
    border-color: #ffdd21;
  }
  100% {
    border-color: #4a21ff;
  }
}
