@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.EX_btn_box {
  font-family: "GangwonEduPowerExtraBoldA";
  font-style: italic;
  padding-top: 7%;
  width: 350px;
  height: 870px;
  padding-left: 19%;
  background-color: rgba(42, 34, 103, 0.756);
  border-radius: 20px;

  border: 5px solid rgb(0, 115, 255); /* 내부 테두리 */
  outline: 2px solid rgb(0, 115, 255); /* 외부 테두리 */
  outline-offset: -13px; /* 외부 테두리를 안쪽으로 이동 */

  box-shadow: 0 0 5px rgb(0, 115, 255), 0 0 10px rgb(0, 115, 255),
    0 0 5px rgb(0, 115, 255);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.exercise-selection,
.duration-selection {
  display: flex;
  flex-direction: column;
}

.EX_btn {
  font-size: 40px;
  color: white;
  margin: 20px 0 0 0;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, color 0.3s ease; /* 스무스 효과 추가 */

  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 아웃라인 제거 */
  background-color: #ffffff00; /* 버튼 배경색 */
}

.EX_btn:hover {
  color: rgb(255, 141, 20);
  transform: scale(1.1);
}

.EX_btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.exercise-selection-container {
  color: rgb(95, 223, 252);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.exercise-selection-container h3 {
  color: rgb(255, 141, 20);
}
