@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  font-family: 'establishRetrosansOTF';
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.378);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: rgb(0, 0, 0);
}

.modal-content button {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 16px;
}

/* From Uiverse.io by bhaveshxrawat */
.card {
  width: auto;
  height: auto;
  background: #79b3ff;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(98, 0, 255), rgb(255, 48, 255));
  height: 150%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #f3f3f3;
  inset: 5px;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 242, 255, 0.411);
}
