.button-container {
  position: absolute;
  left: 20px;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
