.main_btn {
  font-size: 70px;
  color: white;
  margin: 20px;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, color 0.3s ease; /* 스무스 효과 추가 */
}

.main_btn:hover {
  color: rgb(255, 141, 20);
  transform: scale(1.1);
}
